html {
    zoom: 130%;
    touch-action: manipulation;
}

body
{
    font-family: 'Helvetica', 'Arial', sans-serif !important;
}

/* .container {
    width: 60% !important;
}

@media screen and (max-width:455px)
{
    .container {
        width: 80% !important;
    }
} */

.resultado {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

.calc-button {
    width: 3.4rem;
    height: 3.4rem;
    border: none;
}

.op-button {
    background-color: #F69906;
}

.number-btn {
    background-color: #313131;
}

.calc-button:active {
    opacity: 1;
    transition: 20ms ease-in-out;
    background-color: gray !important;
}

body.modal-open .modal {
    display: flex !important;
    height: 100%;
} 

.modal-body {
    padding: 0 !important;
}

.modal-header {
    border-bottom: solid 1px #F69906 !important;
}

body.modal-open .modal .modal-dialog {
    margin: auto;
}